<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <section>
    <div class="container">
      <div id="tool-bar">
        <h1>Draw</h1>
        <label for="stroke">Stroke</label>
        <input id="stroke" name="stroke" type="color">
        <label for="line-width">Line width</label>
        <input id="line-width" name="line-width" type="number" value="5">
        <button id="clear">Clear</button>
        <button id="save">Save</button>
      </div>
      <div class="drawing-board">
        <canvas id="drawing-board">

        </canvas>
      </div>
    </div>
  </section>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/fabric.js"></script>
<script type="impoprtmap">
  { "imports":{
    "socket":"/javascripts/socket.js",
    "uid" : "/javascripts/uid.js"
  }
  }

</script>
<script type="module" src="/javascripts/script.js"></script>

</html>