body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  color: white;
}

h1 {
  background: #7f7fd5;
  background: -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  height: 100%;
  display: flex;
}

#tool-bar {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 70px;
  background-color: #202020;
}

#tool-bar * {
  margin-bottom: 6px;
}

#tool-bar label {
  font-size: 12px;
}

#tool-bar input {
  width: 100%;
}

#tool-bar button {
  background-color: #15acc0;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 2px;
}
#tool-bar img {
  height: 20px;
  width: 20px;
}
#tool-bar img:hover {
  border-radius: 6px;
  background-color: #4e5e60;
}
#sub-tool {
  margin: 100px 80px;
  z-index: 1;
  border-radius: 6px;
  position: absolute;
  flex-direction: column;
  padding: 5px;
  width: fit-content;
  height: fit-content;
  background-color: #202020;
}
#sub-tool img:hover {
  border-radius: 6px;
  background-color: #4e5e60;
}
.pointer-class {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  position: absolute;

  /* animation-name: stretch;
            animation-duration: 2.0s;
            animation-timing-function: ease-out;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-play-state: running; */
}
.active {
  background-color: #4e5e60;
  border-radius: 6px;
}
@keyframes stretch {
  0% {
    opacity: 0.2;
    background-color: green;
    border-radius: 100%;
  }

  50% {
    background-color: orange;
  }

  100% {
    background-color: red;
  }
}
